body {
    font-family: 'Source Sans Pro', sans-serif;
}

#menu a {
    padding: 20px;
    text-align: center;
    margin: 20px auto;
}

.link-topo {
    width: 1024px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    padding: 10px;
}